# Backend
POSTGRES_URL=postgresql://respirebem:respirebem@postgres:5432/respirebem?schema=public
MONGODB_URI=mongodb://mongodb:27017/respirebem
JWT_SECRET=secret-change-me
DEMO_EMAIL=demo@rafaelcostadev.com
NODE_ENV=production

# Frontend (build-time arg)
NEXT_PUBLIC_API_URL=http://localhost:3001/api
